.row_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  border-bottom: 1px solid rgba(121, 117, 117, 0.336);
  border-left: 1px solid rgba(121, 117, 117, 0.336);
  border-right: 1px solid rgba(121, 117, 117, 0.336);
  height: 50px;
}

.row_item_name {
  padding-left: 10px;
}

.row_item_count {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  min-height: 35px;
  margin-right: 10px;
  border: 1px solid rgba(95, 94, 94, 0.623);
  padding: 5px;
  border-radius: 25px;
  background-color: rgba(90, 86, 86, 0.657);
  color: white;
}

.row_item_price {
  display: flex;
  justify-content: center;
}

.row_item_actions {
  display: flex;
  justify-content: space-around;
}
